/TaskRadacode/packages/*
/TaskRadacode/TaskRadacode/TaskRadacode.Android/bin/*
/TaskRadacode/TaskRadacode/TaskRadacode.Android/obj/*
/TaskRadacode/TaskRadacode/TaskRadacode.iOS/*
/TaskRadacode/TaskRadacode/TaskRadacode.UWP/*
/TaskRadacode/TaskRadacode/TaskRadacode/bin/*
/TaskRadacode/TaskRadacode/TaskRadacode/obj/*
.vs/slnx.sqlite-journal
